In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

C:\Users\dmora\AppData\Local\Temp\ipykernel_81432\3777615979.py:1: DeprecationWarning: Importing display from IPython.core.display is deprecated since IPython 7.14, please import from IPython display
  from IPython.core.display import display, HTML

#### Read in first dataset - Form I dataset includes baseline demographic and clinical information of persons who met eligibility criteria.

In [3]:
f1 = pd.read_csv('C:/Users/dmora/Documents/NSS/Capstone/data/f1_public_2021.csv')
f1

C:\Users\dmora\AppData\Local\Temp\ipykernel_81432\1093804143.py:1: DtypeWarning: Columns (12,344,496,657) have mixed types. Specify dtype option on import or set low_memory=False.
  f1 = pd.read_csv('C:/Users/dmora/Documents/NSS/Capstone/data/f1_public_2021.csv')

,ANSysAdM,ARbAdDtM,ASDDAc2R,ASDDDurR,AI2ADays,AI2RhADa,AHDaSyAc,AHDaSyRb,ASex,APResInj,...,AASAImRb,ANCatRhb,UniID,AInjDt,ANSysAdD,AAdmDt,ARbAdmDt,ADisDt,ASFDate,AInjAge
0,9,1,888,0,51,51,8888,90,1,99,...,U,9.0,1,1982,NaN,1982,1982.0,1982,NaN,26
1,9,1,888,0,24,24,8888,59,1,99,...,U,9.0,2,1982,NaN,1982,1982.0,1982,NaN,25
2,9,1,888,2,13,13,8888,41,1,99,...,U,9.0,3,1982,NaN,1982,1982.0,1982,NaN,22
3,9,1,888,0,26,26,8888,169,1,99,...,U,9.0,4,1982,NaN,1982,1982.0,1983,NaN,27
4,9,1,888,0,32,32,8888,99,1,99,...,U,9.0,5,1982,NaN,1982,1982.0,1982,NaN,22
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35670,9,1,0,0,32,63,31,130,2,99,...,U,9.0,35671,1981,NaN,1981,1981.0,1981,NaN,49
35671,9,1,0,0,19,33,14,14,1,99,...,U,9.0,35672,1981,NaN,1981,1981.0,1981,NaN,23
35672,8,1,0,3,1,24,23,70,1,99,...,U,9.0,35673,1981,NaN,1981,1981.0,1981,NaN,69
35673,9,1,0,0,43,72,29,30,1,99,...,U,9.0,35674,1981,NaN,1981,1981.0,1981,NaN,55
35674,8,1,0,0,1,57,56,59,2,99,...,U,9.0,35675,1981,NaN,1981,1981.0,1981,NaN,42

#### Create df of base variables

In [4]:
f1_base = (
    f1
    [[
        'UniID', 'AAdmDt', 'ARbAdmDt', 'ADisDt',
        'AI2ADays', 'AI2RhADa', 'AInjAge', 'ASex', 
        'APResInj', 'APResDis',
        'AMarStIj', 'AEducLvl','ABPHQ1', 
        'ABPHQ2', 'ABPHQ9', 'ABPHQ6', 'ABPHQMDS',
        'ABPHQSDS', 'APrLvlSt', 'AFmIncLv', 'AHDaSyRb',
        'AFScorRb', 'AFScorDs',
        
        
    ]]
   
)

f1_base

,UniID,AAdmDt,ARbAdmDt,ADisDt,AI2ADays,AI2RhADa,AInjAge,ASex,APResInj,APResDis,...,ABPHQ2,ABPHQ9,ABPHQ6,ABPHQMDS,ABPHQSDS,APrLvlSt,AFmIncLv,AHDaSyRb,AFScorRb,AFScorDs
0,1,1982,1982.0,1982,51,51,26,1,99,1,...,9,9,9,9,99,7,9,90,99,99
1,2,1982,1982.0,1982,24,24,25,1,99,1,...,9,9,9,9,99,1,9,59,99,99
2,3,1982,1982.0,1982,13,13,22,1,99,1,...,9,9,9,9,99,1,9,41,99,99
3,4,1982,1982.0,1983,26,26,27,1,99,1,...,9,9,9,9,99,1,9,169,99,99
4,5,1982,1982.0,1982,32,32,22,1,99,1,...,9,9,9,9,99,1,9,99,99,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35670,35671,1981,1981.0,1981,32,63,49,2,99,1,...,9,9,9,9,99,2,9,130,99,99
35671,35672,1981,1981.0,1981,19,33,23,1,99,1,...,9,9,9,9,99,6,9,14,99,99
35672,35673,1981,1981.0,1981,1,24,69,1,99,1,...,9,9,9,9,99,5,9,70,99,99
35673,35674,1981,1981.0,1981,43,72,55,1,99,4,...,9,9,9,9,99,1,9,30,99,99
35674,35675,1981,1981.0,1981,1,57,42,2,99,1,...,9,9,9,9,99,2,9,59,99,99

#### Rename columns for easier understanding.

In [5]:
f1_base = f1_base.rename(columns={'UniID' : 'unique_id', 'AAdmDt' : 'sys_adm_dt', 'ARbAdmDt' : 'reh_adm_dt', 'ADisDt' : 'discharge_dt', 
                          'AI2ADays' : 'days_inj_to_sys', 'AI2RhADa' : 'days_inj_to_reh',  'AInjAge' : 'age_at_injury', 'ASex': 'sex',
                          'APResInj' : 'res_at_inj','APResDis' : 'res_at_dis', 
                          'AMarStIj' : 'marital_stat_ai', 'AEducLvl' : 'educ_lvl_ai', 'ABPHQ1' : 'interest_or_pleasure', 
                          'ABPHQ2' : 'depressed', 'ABPHQ9' : 'self_harm', 'ABPHQ6' : 'feel_bad', 'ABPHQMDS': 'depressive_syndrome', 
                          'ABPHQSDS' : 'severity_of_depression', 'APrLvlSt' : 'occup_status', 'AFmIncLv' : 'income_level', 
                          'AHDaSyRb' : 'days_rehab1'})

f1_base

,unique_id,sys_adm_dt,reh_adm_dt,discharge_dt,days_inj_to_sys,days_inj_to_reh,age_at_injury,sex,res_at_inj,res_at_dis,...,depressed,self_harm,feel_bad,depressive_syndrome,severity_of_depression,occup_status,income_level,days_rehab1,AFScorRb,AFScorDs
0,1,1982,1982.0,1982,51,51,26,1,99,1,...,9,9,9,9,99,7,9,90,99,99
1,2,1982,1982.0,1982,24,24,25,1,99,1,...,9,9,9,9,99,1,9,59,99,99
2,3,1982,1982.0,1982,13,13,22,1,99,1,...,9,9,9,9,99,1,9,41,99,99
3,4,1982,1982.0,1983,26,26,27,1,99,1,...,9,9,9,9,99,1,9,169,99,99
4,5,1982,1982.0,1982,32,32,22,1,99,1,...,9,9,9,9,99,1,9,99,99,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35670,35671,1981,1981.0,1981,32,63,49,2,99,1,...,9,9,9,9,99,2,9,130,99,99
35671,35672,1981,1981.0,1981,19,33,23,1,99,1,...,9,9,9,9,99,6,9,14,99,99
35672,35673,1981,1981.0,1981,1,24,69,1,99,1,...,9,9,9,9,99,5,9,70,99,99
35673,35674,1981,1981.0,1981,43,72,55,1,99,4,...,9,9,9,9,99,1,9,30,99,99
35674,35675,1981,1981.0,1981,1,57,42,2,99,1,...,9,9,9,9,99,2,9,59,99,99

#### Fill in n/a values in rehab_adm_dt column, so we can then change to int for year consistency across the df.

In [6]:
f1_base['reh_adm_dt'] = f1_base['reh_adm_dt'].fillna(0)
f1_base

,unique_id,sys_adm_dt,reh_adm_dt,discharge_dt,days_inj_to_sys,days_inj_to_reh,age_at_injury,sex,res_at_inj,res_at_dis,...,depressed,self_harm,feel_bad,depressive_syndrome,severity_of_depression,occup_status,income_level,days_rehab1,AFScorRb,AFScorDs
0,1,1982,1982.0,1982,51,51,26,1,99,1,...,9,9,9,9,99,7,9,90,99,99
1,2,1982,1982.0,1982,24,24,25,1,99,1,...,9,9,9,9,99,1,9,59,99,99
2,3,1982,1982.0,1982,13,13,22,1,99,1,...,9,9,9,9,99,1,9,41,99,99
3,4,1982,1982.0,1983,26,26,27,1,99,1,...,9,9,9,9,99,1,9,169,99,99
4,5,1982,1982.0,1982,32,32,22,1,99,1,...,9,9,9,9,99,1,9,99,99,99
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35670,35671,1981,1981.0,1981,32,63,49,2,99,1,...,9,9,9,9,99,2,9,130,99,99
35671,35672,1981,1981.0,1981,19,33,23,1,99,1,...,9,9,9,9,99,6,9,14,99,99
35672,35673,1981,1981.0,1981,1,24,69,1,99,1,...,9,9,9,9,99,5,9,70,99,99
35673,35674,1981,1981.0,1981,43,72,55,1,99,4,...,9,9,9,9,99,1,9,30,99,99
35674,35675,1981,1981.0,1981,1,57,42,2,99,1,...,9,9,9,9,99,2,9,59,99,99

#### Change dtype of reh_adm_dt to integer

In [7]:
f1_base['reh_adm_dt'] = f1_base['reh_adm_dt'].astype('int')

#### Run loop on sex column to create gender column to include gender name

In [8]:
for ind, row in f1_base.iterrows():
    if row.sex == 1:
        f1_base.loc[ind, 'gender'] = 'm'
    elif row.sex == 2:
        f1_base.loc[ind, 'gender'] = 'f'
    elif row.sex == 3:
        f1_base.loc[ind, 'gender'] = 't'
    elif row.sex == 9:
        f1_base.loc[ind, 'gender'] = 'u'

#### Drop sex column

In [9]:
f1_base = f1_base.drop('sex', axis = 1)
f1_base

,unique_id,sys_adm_dt,reh_adm_dt,discharge_dt,days_inj_to_sys,days_inj_to_reh,age_at_injury,res_at_inj,res_at_dis,marital_stat_ai,...,self_harm,feel_bad,depressive_syndrome,severity_of_depression,occup_status,income_level,days_rehab1,AFScorRb,AFScorDs,gender
0,1,1982,1982,1982,51,51,26,99,1,1,...,9,9,9,99,7,9,90,99,99,m
1,2,1982,1982,1982,24,24,25,99,1,1,...,9,9,9,99,1,9,59,99,99,m
2,3,1982,1982,1982,13,13,22,99,1,3,...,9,9,9,99,1,9,41,99,99,m
3,4,1982,1982,1983,26,26,27,99,1,2,...,9,9,9,99,1,9,169,99,99,m
4,5,1982,1982,1982,32,32,22,99,1,1,...,9,9,9,99,1,9,99,99,99,m
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35670,35671,1981,1981,1981,32,63,49,99,1,5,...,9,9,9,99,2,9,130,99,99,f
35671,35672,1981,1981,1981,19,33,23,99,1,1,...,9,9,9,99,6,9,14,99,99,m
35672,35673,1981,1981,1981,1,24,69,99,1,2,...,9,9,9,99,5,9,70,99,99,m
35673,35674,1981,1981,1981,43,72,55,99,4,3,...,9,9,9,99,1,9,30,99,99,m
35674,35675,1981,1981,1981,1,57,42,99,1,2,...,9,9,9,99,2,9,59,99,99,f

#### Run loop on res_at_inj column to create res_at_inj column to include type of residence instead of #

In [10]:
for ind, row in f1_base.iterrows():
    if row.res_at_inj == 1:
        f1_base.loc[ind, 'res_at_injb'] = 'pri_res'
    elif row.res_at_inj == 2:
        f1_base.loc[ind, 'res_at_injb'] = 'hospital'
    elif row.res_at_inj == 3:
        f1_base.loc[ind, 'res_at_injb'] = 'nurs_home'
    elif row.res_at_inj == 4:
        f1_base.loc[ind, 'res_at_injb'] = 'group'
    elif row.res_at_inj == 5:
        f1_base.loc[ind, 'res_at_injb'] = 'correctional'
    elif row.res_at_inj == 6:
        f1_base.loc[ind, 'res_at_injb'] = 'motel'
    elif row.res_at_inj == 7:
        f1_base.loc[ind, 'res_at_injb'] = 'deceased'
    elif row.res_at_inj == 8:
        f1_base.loc[ind, 'res_at_injb'] = 'other'
    elif row.res_at_inj == 9:
        f1_base.loc[ind, 'res_at_injb'] = 'homeless'    
    elif row.res_at_inj == 10:
        f1_base.loc[ind, 'res_at_injb'] = 'assisted'    
    elif row.res_at_inj == 99:
        f1_base.loc[ind, 'res_at_injb'] = 'unknown'

#### Drop original numerical res_at_inj column

In [11]:
f1_base = f1_base.drop('res_at_inj', axis = 1)
f1_base

,unique_id,sys_adm_dt,reh_adm_dt,discharge_dt,days_inj_to_sys,days_inj_to_reh,age_at_injury,res_at_dis,marital_stat_ai,educ_lvl_ai,...,feel_bad,depressive_syndrome,severity_of_depression,occup_status,income_level,days_rehab1,AFScorRb,AFScorDs,gender,res_at_injb
0,1,1982,1982,1982,51,51,26,1,1,2,...,9,9,99,7,9,90,99,99,m,unknown
1,2,1982,1982,1982,24,24,25,1,1,3,...,9,9,99,1,9,59,99,99,m,unknown
2,3,1982,1982,1982,13,13,22,1,3,2,...,9,9,99,1,9,41,99,99,m,unknown
3,4,1982,1982,1983,26,26,27,1,2,3,...,9,9,99,1,9,169,99,99,m,unknown
4,5,1982,1982,1982,32,32,22,1,1,3,...,9,9,99,1,9,99,99,99,m,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35670,35671,1981,1981,1981,32,63,49,1,5,1,...,9,9,99,2,9,130,99,99,f,unknown
35671,35672,1981,1981,1981,19,33,23,1,1,3,...,9,9,99,6,9,14,99,99,m,unknown
35672,35673,1981,1981,1981,1,24,69,1,2,1,...,9,9,99,5,9,70,99,99,m,unknown
35673,35674,1981,1981,1981,43,72,55,4,3,2,...,9,9,99,1,9,30,99,99,m,unknown
35674,35675,1981,1981,1981,1,57,42,1,2,5,...,9,9,99,2,9,59,99,99,f,unknown

#### Run loop on res_at_dis column to create res_at_dis column to include type of residence instead of #

In [12]:
for ind, row in f1_base.iterrows():
    if row.res_at_dis == 1:
        f1_base.loc[ind, 'res_at_disb'] = 'pri_res'
    elif row.res_at_dis == 2:
        f1_base.loc[ind, 'res_at_disb'] = 'hospital'
    elif row.res_at_dis == 3:
        f1_base.loc[ind, 'res_at_disb'] = 'nurs_home'
    elif row.res_at_dis == 4:
        f1_base.loc[ind, 'res_at_disb'] = 'group'
    elif row.res_at_dis == 5:
        f1_base.loc[ind, 'res_at_disb'] = 'correctional'
    elif row.res_at_dis == 6:
        f1_base.loc[ind, 'res_at_disb'] = 'motel'
    elif row.res_at_dis == 7:
        f1_base.loc[ind, 'res_at_disb'] = 'deceased'
    elif row.res_at_dis == 8:
        f1_base.loc[ind, 'res_at_disb'] = 'other'
    elif row.res_at_dis == 9:
        f1_base.loc[ind, 'res_at_disb'] = 'homeless'    
    elif row.res_at_dis == 10:
        f1_base.loc[ind, 'res_at_disb'] = 'assisted'    
    elif row.res_at_dis == 99:
        f1_base.loc[ind, 'res_at_disb'] = 'unknown'

#### Drop original res_at_dis column

In [13]:
f1_base = f1_base.drop('res_at_dis', axis = 1)
f1_base

,unique_id,sys_adm_dt,reh_adm_dt,discharge_dt,days_inj_to_sys,days_inj_to_reh,age_at_injury,marital_stat_ai,educ_lvl_ai,interest_or_pleasure,...,depressive_syndrome,severity_of_depression,occup_status,income_level,days_rehab1,AFScorRb,AFScorDs,gender,res_at_injb,res_at_disb
0,1,1982,1982,1982,51,51,26,1,2,9,...,9,99,7,9,90,99,99,m,unknown,pri_res
1,2,1982,1982,1982,24,24,25,1,3,9,...,9,99,1,9,59,99,99,m,unknown,pri_res
2,3,1982,1982,1982,13,13,22,3,2,9,...,9,99,1,9,41,99,99,m,unknown,pri_res
3,4,1982,1982,1983,26,26,27,2,3,9,...,9,99,1,9,169,99,99,m,unknown,pri_res
4,5,1982,1982,1982,32,32,22,1,3,9,...,9,99,1,9,99,99,99,m,unknown,pri_res
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35670,35671,1981,1981,1981,32,63,49,5,1,9,...,9,99,2,9,130,99,99,f,unknown,pri_res
35671,35672,1981,1981,1981,19,33,23,1,3,9,...,9,99,6,9,14,99,99,m,unknown,pri_res
35672,35673,1981,1981,1981,1,24,69,2,1,9,...,9,99,5,9,70,99,99,m,unknown,pri_res
35673,35674,1981,1981,1981,43,72,55,3,2,9,...,9,99,1,9,30,99,99,m,unknown,group
35674,35675,1981,1981,1981,1,57,42,2,5,9,...,9,99,2,9,59,99,99,f,unknown,pri_res

In [14]:
f1_base = f1_base.rename(columns={'res_at_injb' : 'res_at_inj', 'res_at_disb' : 'res_at_dis'})
f1_base

,unique_id,sys_adm_dt,reh_adm_dt,discharge_dt,days_inj_to_sys,days_inj_to_reh,age_at_injury,marital_stat_ai,educ_lvl_ai,interest_or_pleasure,...,depressive_syndrome,severity_of_depression,occup_status,income_level,days_rehab1,AFScorRb,AFScorDs,gender,res_at_inj,res_at_dis
0,1,1982,1982,1982,51,51,26,1,2,9,...,9,99,7,9,90,99,99,m,unknown,pri_res
1,2,1982,1982,1982,24,24,25,1,3,9,...,9,99,1,9,59,99,99,m,unknown,pri_res
2,3,1982,1982,1982,13,13,22,3,2,9,...,9,99,1,9,41,99,99,m,unknown,pri_res
3,4,1982,1982,1983,26,26,27,2,3,9,...,9,99,1,9,169,99,99,m,unknown,pri_res
4,5,1982,1982,1982,32,32,22,1,3,9,...,9,99,1,9,99,99,99,m,unknown,pri_res
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35670,35671,1981,1981,1981,32,63,49,5,1,9,...,9,99,2,9,130,99,99,f,unknown,pri_res
35671,35672,1981,1981,1981,19,33,23,1,3,9,...,9,99,6,9,14,99,99,m,unknown,pri_res
35672,35673,1981,1981,1981,1,24,69,2,1,9,...,9,99,5,9,70,99,99,m,unknown,pri_res
35673,35674,1981,1981,1981,43,72,55,3,2,9,...,9,99,1,9,30,99,99,m,unknown,group
35674,35675,1981,1981,1981,1,57,42,2,5,9,...,9,99,2,9,59,99,99,f,unknown,pri_res

In [15]:
for ind, row in f1_base.iterrows():
    if row.marital_stat_ai == 1:
        f1_base.loc[ind, 'marital_stat_aib'] = 'single'
    elif row.marital_stat_ai == 2:
        f1_base.loc[ind, 'marital_stat_aib'] = 'married'
    elif row.marital_stat_ai == 3:
        f1_base.loc[ind, 'marital_stat_aib'] = 'divorced'
    elif row.marital_stat_ai == 4:
        f1_base.loc[ind, 'marital_stat_aib'] = 'separated'
    elif row.marital_stat_ai == 5:
        f1_base.loc[ind, 'marital_stat_aib'] = 'widowed'
    elif row.marital_stat_ai == 6:
        f1_base.loc[ind, 'marital_stat_aib'] = 'other'
    elif row.marital_stat_ai == 7:
        f1_base.loc[ind, 'marital_stat_aib'] = 'living_with'
    elif row.marital_stat_ai == 9:
        f1_base.loc[ind, 'marital_stat_aib'] = 'unknown'

In [16]:
f1_base = f1_base.drop('marital_stat_ai', axis = 1)

In [17]:
for ind, row in f1_base.iterrows():
    if row.educ_lvl_ai == 1:
        f1_base.loc[ind, 'educ_lvl_aib'] = '8th_or_less'
    elif row.educ_lvl_ai == 2:
        f1_base.loc[ind, 'educ_lvl_aib'] = '9th_11th'
    elif row.educ_lvl_ai == 3:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'hsd'
    elif row.educ_lvl_ai == 4:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'ad'
    elif row.educ_lvl_ai == 5:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'bd'
    elif row.educ_lvl_ai == 6:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'md'
    elif row.educ_lvl_ai == 7:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'doc'
    elif row.educ_lvl_ai == 8:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'other'    
    elif row.educ_lvl_ai == 9:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'unknown'

In [18]:
f1_base = f1_base.drop('educ_lvl_ai', axis = 1)

In [19]:
for ind, row in f1_base.iterrows():
    if row.interest_or_pleasure == 0:
        f1_base.loc[ind, 'int_or_pleas'] = 'none'
    elif row.interest_or_pleasure == 1:
        f1_base.loc[ind, 'int_or_pleas'] = 'several_days'
    elif row.interest_or_pleasure == 2:
        f1_base.loc[ind, 'int_or_pleas'] = 'more_than_half'
    elif row.interest_or_pleasure == 3:
        f1_base.loc[ind, 'int_or_pleas'] = 'nearly_every_day'
    elif row.interest_or_pleasure == 7:
        f1_base.loc[ind, 'int_or_pleas'] = 'declined'
    elif row.interest_or_pleasure == 9:
        f1_base.loc[ind, 'int_or_pleas'] = 'unknown'

In [20]:
f1_base = f1_base.drop('interest_or_pleasure', axis = 1)

In [21]:
for ind, row in f1_base.iterrows():
    if row.depressed == 0:
        f1_base.loc[ind, 'depressedb'] = 'none'
    elif row.depressed == 1:
        f1_base.loc[ind, 'depressedb'] = 'several_days'
    elif row.depressed == 2:
        f1_base.loc[ind, 'depressedb'] = 'more_than_half'
    elif row.depressed == 3:
        f1_base.loc[ind, 'depressedb'] = 'nearly_every_day'
    elif row.depressed == 7:
        f1_base.loc[ind, 'depressedb'] = 'declined'
    elif row.depressed == 9:
        f1_base.loc[ind, 'depressedb'] = 'unknown'

In [22]:
f1_base = f1_base.drop('depressed', axis = 1)

In [23]:
for ind, row in f1_base.iterrows():
    if row.self_harm == 0:
        f1_base.loc[ind, 'self_harmb'] = 'none'
    elif row.self_harm == 1:
        f1_base.loc[ind, 'self_harmb'] = 'several_days'
    elif row.self_harm == 2:
        f1_base.loc[ind, 'self_harmb'] = 'more_than_half'
    elif row.self_harm == 3:
        f1_base.loc[ind, 'self_harmb'] = 'nearly_every_day'
    elif row.self_harm == 7:
        f1_base.loc[ind, 'self_harmb'] = 'declined'
    elif row.self_harm == 9:
        f1_base.loc[ind, 'self_harmb'] = 'unknown'

In [24]:
f1_base = f1_base.drop('self_harm', axis = 1)

In [25]:
for ind, row in f1_base.iterrows():
    if row.feel_bad == 0:
        f1_base.loc[ind, 'feel_badb'] = 'none'
    elif row.feel_bad == 1:
        f1_base.loc[ind, 'feel_badb'] = 'several_days'
    elif row.feel_bad == 2:
        f1_base.loc[ind, 'feel_badb'] = 'more_than_half'
    elif row.feel_bad == 3:
        f1_base.loc[ind, 'feel_badb'] = 'nearly_every_day'
    elif row.feel_bad == 7:
        f1_base.loc[ind, 'feel_badb'] = 'declined'
    elif row.feel_bad == 9:
        f1_base.loc[ind, 'feel_badb'] = 'unknown'

In [26]:
f1_base = f1_base.drop('feel_bad', axis = 1)

In [27]:
for ind, row in f1_base.iterrows():
    if row.depressive_syndrome == 0:
        f1_base.loc[ind, 'dep_syn'] = 'none'
    elif row.depressive_syndrome == 1:
        f1_base.loc[ind, 'dep_syn'] = 'major'
    elif row.depressive_syndrome == 2:
        f1_base.loc[ind, 'dep_syn'] = 'other'
    elif row.depressive_syndrome == 9:
        f1_base.loc[ind, 'dep_syn'] = 'unknown'

In [28]:
f1_base = f1_base.drop('depressive_syndrome', axis = 1)

In [29]:
for ind, row in f1_base.iterrows():
    if row.occup_status == 1:
        f1_base.loc[ind, 'occ_stat'] = 'working'
    elif row.occup_status == 2:
        f1_base.loc[ind, 'occ_stat'] = 'homemaker'
    elif row.occup_status == 3:
        f1_base.loc[ind, 'occ_stat'] = 'otj_train'
    elif row.occup_status == 4:
        f1_base.loc[ind, 'occ_stat'] = 'shel_work'
    elif row.occup_status == 5:
        f1_base.loc[ind, 'occ_stat'] = 'retired'
    elif row.occup_status == 6:
        f1_base.loc[ind, 'occ_stat'] = 'student'
    elif row.occup_status == 7:
        f1_base.loc[ind, 'occ_stat'] = 'unemployed'
    elif row.occup_status == 8:
        f1_base.loc[ind, 'occ_stat'] = 'retired_dis'
    elif row.occup_status == 9:
        f1_base.loc[ind, 'occ_stat'] = 'retired_nondis'   
    elif row.occup_status == 10:
        f1_base.loc[ind, 'occ_stat'] = 'other'
    elif row.occup_status == 99:
        f1_base.loc[ind, 'occ_stat'] = 'unknown'

In [30]:
f1_base = f1_base.drop('occup_status', axis = 1)

In [31]:
for ind, row in f1_base.iterrows():
    if row.income_level == 1:
        f1_base.loc[ind, 'inc_lvl1'] = 'lt25k'
    elif row.income_level == 2:
        f1_base.loc[ind, 'inc_lvl1'] = '25k_49999'
    elif row.income_level == 3:
        f1_base.loc[ind, 'inc_lvl1'] = '50k_74999'
    elif row.income_level == 4:
        f1_base.loc[ind, 'inc_lvl1'] = '75pl'
    elif row.income_level == 6:
        f1_base.loc[ind, 'inc_lvl1'] = 'not_sure'
    elif row.income_level == 7:
        f1_base.loc[ind, 'inc_lvl1'] = 'declined'
    elif row.income_level == 9:
        f1_base.loc[ind, 'inc_lvl1'] = 'unknown'

In [32]:
f1_base = f1_base.drop('income_level', axis = 1)

In [33]:
f1_base = f1_base.rename(columns={'age_at_injury' : 'age1', 'severity_of_depression' : 'sev_dep', 'res_at_inj' : 'res1', 'marital_stat_aib' : 'mar_stat1',
                                  'educ_lvl_aib' : 'educ_lvl1', 'int_or_pleas' : 'int_pleas1', 'depressedb' : 'depr1', 'self_harmb' : 'self_harm1',
                                  'feel_badb' : 'feel_bad1', 'dep_syn' : 'dep_syn1', 'occ_stat' : 'occ_stat1'})

In [34]:
f1_base.columns

Index(['unique_id', 'sys_adm_dt', 'reh_adm_dt', 'discharge_dt',
       'days_inj_to_sys', 'days_inj_to_reh', 'age1', 'sev_dep', 'days_rehab1',
       'AFScorRb', 'AFScorDs', 'gender', 'res1', 'res_at_dis', 'mar_stat1',
       'educ_lvl1', 'int_pleas1', 'depr1', 'self_harm1', 'feel_bad1',
       'dep_syn1', 'occ_stat1', 'inc_lvl1'],
      dtype='object')

In [35]:
f1_menphy = f1_base[['unique_id', 'age1', 'sev_dep', 'AFScorRb', 'AFScorDs', 'gender',
                     'int_pleas1', 'depr1', 'self_harm1', 'feel_bad1','dep_syn1']]
f1_menphy

,unique_id,age1,sev_dep,AFScorRb,AFScorDs,gender,int_pleas1,depr1,self_harm1,feel_bad1,dep_syn1
0,1,26,99,99,99,m,unknown,unknown,unknown,unknown,unknown
1,2,25,99,99,99,m,unknown,unknown,unknown,unknown,unknown
2,3,22,99,99,99,m,unknown,unknown,unknown,unknown,unknown
3,4,27,99,99,99,m,unknown,unknown,unknown,unknown,unknown
4,5,22,99,99,99,m,unknown,unknown,unknown,unknown,unknown
...,...,...,...,...,...,...,...,...,...,...,...
35670,35671,49,99,99,99,f,unknown,unknown,unknown,unknown,unknown
35671,35672,23,99,99,99,m,unknown,unknown,unknown,unknown,unknown
35672,35673,69,99,99,99,m,unknown,unknown,unknown,unknown,unknown
35673,35674,55,99,99,99,m,unknown,unknown,unknown,unknown,unknown
35674,35675,42,99,99,99,f,unknown,unknown,unknown,unknown,unknown

In [36]:
f1_menphy = f1_menphy.int_pleas1.value_counts().to_frame().reset_index()
f1_menphy

         int_pleas1  count
0           unknown  32330
1              none   2144
2      several_days    843
3    more_than_half    183
4  nearly_every_day    140
5          declined     35

In [37]:
f1_menphy = f1_menphy.loc[(f1_menphy.int_pleas1 != 'unknown') & (f1_menphy.int_pleas1 != 'declined')]
f1_menphy

         int_pleas1  count
1              none   2144
2      several_days    843
3    more_than_half    183
4  nearly_every_day    140

In [38]:
f1_menphy = f1_menphy.rename(columns={'count' : 'total'})
f1_menphy['records'] = f1_menphy.total.sum()  
f1_menphy['ai_per'] = (f1_menphy.total / f1_menphy.records) * 100    
f1_menphy

         int_pleas1  total  records     ai_per
1              none   2144     3310  64.773414
2      several_days    843     3310  25.468278
3    more_than_half    183     3310   5.528701
4  nearly_every_day    140     3310   4.229607

#### Read in second dataset - Form II dataset includes sociodemographic and outcome data of Form I participants obtained at follow-up.

In [39]:
f2 = pd.read_csv('C:/Users/dmora/Documents/NSS/Capstone/data/f2_public_2021.csv')

C:\Users\dmora\AppData\Local\Temp\ipykernel_81432\2937630165.py:1: DtypeWarning: Columns (320) have mixed types. Specify dtype option on import or set low_memory=False.
  f2 = pd.read_csv('C:/Users/dmora/Documents/NSS/Capstone/data/f2_public_2021.csv')

In [40]:
f2_base = (
    f2
    [[
        'UniID', 'BYear', 'BPlcRes', 'BMarStat',
        'BMarStCh', 'BEducLvl', 'BBPHQ1', 'BBPHQ2',
        'BBPHQ9', 'BBPHQ6', 'BBPHQMDS', 'BBPHQSDS',
        'BPrLvlSt', 'BFmIncLv', 'BSPHthSt', 'BSPHthRC', 
        'BRhspRs1', 'BRhspRs2', 'BRhspRs3', 'BRhspRs4',
        'BRhspRs5', 'BRhspRs6', 'BRhspRs7', 'BRhspRs8',
        'BRhspNbr'
        
        
    ]]
   
)

In [41]:
f2_base = f2_base.rename(columns={'UniID' : 'unique_id', 'BYear' : 'post_inj_yr', 'BPlcRes' : 'res_pi', 'BMarStat' : 'marital_stat_pi',
        'BMarStCh' : 'marital_stat_change', 'BEducLvl' : 'educ_lvl_pi', 'BBPHQ1' : 'int_pleas2', 'BBPHQ2' : 'depr2',
        'BBPHQ9' : 'self_harm2','BBPHQ6' : 'feel_bad2','BBPHQMDS': 'dep_syn2', 'BBPHQSDS' : 'sev_dep2',
        'BPrLvlSt' : 'occup_status_pi', 'BFmIncLv' : 'income_level'})

In [42]:
f2_base

,unique_id,post_inj_yr,res_pi,marital_stat_pi,marital_stat_change,educ_lvl_pi,int_pleas2,depr2,self_harm2,feel_bad2,...,BSPHthRC,BRhspRs1,BRhspRs2,BRhspRs3,BRhspRs4,BRhspRs5,BRhspRs6,BRhspRs7,BRhspRs8,BRhspNbr
0,1,1,99.0,9.0,9.0,9.0,9.0,9.0,9.0,9.0,...,9.0,99.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.0
1,2,1,1.0,1.0,0.0,3.0,9.0,9.0,9.0,9.0,...,9.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
2,2,5,1.0,1.0,0.0,3.0,9.0,9.0,9.0,9.0,...,9.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
3,2,10,1.0,1.0,0.0,3.0,9.0,9.0,9.0,9.0,...,9.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
4,2,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131212,35675,15,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131213,35675,20,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131214,35675,25,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
131215,35675,30,1.0,2.0,0.0,5.0,0.0,1.0,9.0,9.0,...,4.0,88.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0
131216,35675,35,1.0,5.0,3.0,5.0,0.0,1.0,0.0,0.0,...,1.0,17.0,10.0,7.0,18.0,NaN,NaN,NaN,NaN,4.0

In [43]:
f2_menphy = f2_base[['unique_id', 'sev_dep2', 'int_pleas2', 'depr2', 'self_harm2', 'feel_bad2','dep_syn2']]
f2_menphy

,unique_id,sev_dep2,int_pleas2,depr2,self_harm2,feel_bad2,dep_syn2
0,1,99.0,9.0,9.0,9.0,9.0,9.0
1,2,99.0,9.0,9.0,9.0,9.0,9.0
2,2,99.0,9.0,9.0,9.0,9.0,9.0
3,2,99.0,9.0,9.0,9.0,9.0,9.0
4,2,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...
131212,35675,NaN,NaN,NaN,NaN,NaN,NaN
131213,35675,NaN,NaN,NaN,NaN,NaN,NaN
131214,35675,NaN,NaN,NaN,NaN,NaN,NaN
131215,35675,99.0,0.0,1.0,9.0,9.0,9.0
131216,35675,1.0,0.0,1.0,0.0,0.0,0.0

In [44]:
for ind, row in f2_base.iterrows():
    if row.int_pleas2 == 0:
        f2_base.loc[ind, 'int_pleasb'] = 'none'
    elif row.int_pleas2 == 1:
        f2_base.loc[ind, 'int_pleasb'] = 'several_days'
    elif row.int_pleas2 == 2:
        f2_base.loc[ind, 'int_pleasb'] = 'more_than_half'
    elif row.int_pleas2 == 3:
        f2_base.loc[ind, 'int_pleasb'] = 'nearly_every_day'
    elif row.int_pleas2 == 7:
        f2_base.loc[ind, 'int_pleasb'] = 'declined'
    elif row.int_pleas2 == 9:
        f2_base.loc[ind, 'int_pleas2b'] = 'unknown'

In [45]:
f2_base = f2_base.drop('int_pleas2', axis = 1)

In [46]:
f2_int = f2_base[['unique_id', 'post_inj_yr', 'int_pleasb']]
f2_int

        unique_id  post_inj_yr int_pleasb
0               1            1        NaN
1               2            1        NaN
2               2            5        NaN
3               2           10        NaN
4               2           15        NaN
...           ...          ...        ...
131212      35675           15        NaN
131213      35675           20        NaN
131214      35675           25        NaN
131215      35675           30       none
131216      35675           35       none

[131217 rows x 3 columns]

In [47]:
yr1 = f2_int.loc[(f2_int.post_inj_yr == 1)]
yr1

        unique_id  post_inj_yr int_pleasb
0               1            1        NaN
1               2            1        NaN
9               3            1        NaN
10              4            1        NaN
11              5            1        NaN
...           ...          ...        ...
131195      35671            1        NaN
131196      35672            1        NaN
131204      35673            1        NaN
131206      35674            1        NaN
131209      35675            1        NaN

[32477 rows x 3 columns]

In [48]:
yr1.value_counts(dropna = False)

unique_id  post_inj_yr  int_pleasb
1          1            NaN           1
23518      1            NaN           1
23531      1            NaN           1
23530      1            NaN           1
23529      1            NaN           1
                                     ..
11878      1            NaN           1
11877      1            NaN           1
11876      1            NaN           1
11875      1            NaN           1
35675      1            NaN           1
Name: count, Length: 32477, dtype: int64

In [49]:
yr1 = yr1.int_pleasb.value_counts().to_frame().reset_index()
yr1

         int_pleasb  count
0              none   5670
1      several_days   2647
2  nearly_every_day   1103
3    more_than_half    907
4          declined     83

In [50]:
yr1 = yr1.rename(columns={'count' : 'total'})
yr1

         int_pleasb  total
0              none   5670
1      several_days   2647
2  nearly_every_day   1103
3    more_than_half    907
4          declined     83

In [51]:
yr1 = yr1.loc[(yr1.int_pleasb != 'declined')]
yr1

         int_pleasb  total
0              none   5670
1      several_days   2647
2  nearly_every_day   1103
3    more_than_half    907

In [52]:
yr1['records'] = yr1.total.sum() 
yr1

C:\Users\dmora\AppData\Local\Temp\ipykernel_81432\2304894368.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yr1['records'] = yr1.total.sum()

         int_pleasb  total  records
0              none   5670    10327
1      several_days   2647    10327
2  nearly_every_day   1103    10327
3    more_than_half    907    10327

In [53]:
yr1['yr1_per_int'] = (yr1.total / yr1.records) * 100   
yr1

C:\Users\dmora\AppData\Local\Temp\ipykernel_81432\3227710441.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  yr1['yr1_per_int'] = (yr1.total / yr1.records) * 100

         int_pleasb  total  records  yr1_per_int
0              none   5670    10327    54.904619
1      several_days   2647    10327    25.631839
2  nearly_every_day   1103    10327    10.680740
3    more_than_half    907    10327     8.782802

In [54]:
yr5 = f2_int.loc[(f2_int.post_inj_yr == 5)]
yr5 = yr5.int_pleasb.value_counts().to_frame().reset_index()
yr5 = yr5.rename(columns={'count' : 'total'})
yr5 = yr5.loc[(yr5.int_pleasb != 'declined')]
yr5['records'] = yr5.total.sum() 
yr5['yr5_per_int'] = (yr5.total / yr5.records) * 100   
yr5

         int_pleasb  total  records  yr5_per_int
0              none   4211     7209    58.413095
1      several_days   1738     7209    24.108753
2  nearly_every_day    653     7209     9.058122
3    more_than_half    607     7209     8.420031

In [55]:
yr10 = f2_int.loc[(f2_int.post_inj_yr == 10)]
yr10 = yr10.int_pleasb.value_counts().to_frame().reset_index()
yr10 = yr10.rename(columns={'count' : 'total'})
yr10 = yr10.loc[(yr10.int_pleasb != 'declined')]
yr10['records'] = yr10.total.sum() 
yr10['yr10_per_int'] = (yr10.total / yr10.records) * 100   
yr10

         int_pleasb  total  records  yr10_per_int
0              none   3248     5403     60.114751
1      several_days   1237     5403     22.894688
2    more_than_half    479     5403      8.865445
3  nearly_every_day    439     5403      8.125116

In [56]:
yr15 = f2_int.loc[(f2_int.post_inj_yr == 15)]
yr15 = yr15.int_pleasb.value_counts().to_frame().reset_index()
yr15 = yr15.rename(columns={'count' : 'total'})
yr15 = yr15.loc[(yr15.int_pleasb != 'declined')]
yr15['records'] = yr15.total.sum() 
yr15['yr15_per_int'] = (yr15.total / yr15.records) * 100   
yr15

         int_pleasb  total  records  yr15_per_int
0              none   2630     4184     62.858509
1      several_days    910     4184     21.749522
2    more_than_half    326     4184      7.791587
3  nearly_every_day    318     4184      7.600382

In [57]:
yr20 = f2_int.loc[(f2_int.post_inj_yr == 20)]
yr20 = yr20.int_pleasb.value_counts().to_frame().reset_index()
yr20 = yr20.rename(columns={'count' : 'total'})
yr20 = yr20.loc[(yr20.int_pleasb != 'declined')]
yr20['records'] = yr20.total.sum() 
yr20['yr20_per_int'] = (yr20.total / yr20.records) * 100   
yr20

         int_pleasb  total  records  yr20_per_int
0              none   2316     3670     63.106267
1      several_days    809     3670     22.043597
2  nearly_every_day    290     3670      7.901907
3    more_than_half    255     3670      6.948229

In [58]:
yr25 = f2_int.loc[(f2_int.post_inj_yr == 25)]
yr25 = yr25.int_pleasb.value_counts().to_frame().reset_index()
yr25 = yr25.rename(columns={'count' : 'total'})
yr25 = yr25.loc[(yr25.int_pleasb != 'declined')]
yr25['records'] = yr25.total.sum() 
yr25['yr25_per_int'] = (yr25.total / yr25.records) * 100   
yr25

         int_pleasb  total  records  yr25_per_int
0              none   2196     3467     63.340063
1      several_days    755     3467     21.776752
2  nearly_every_day    264     3467      7.614652
3    more_than_half    252     3467      7.268532

In [59]:
yr30 = f2_int.loc[(f2_int.post_inj_yr == 30)]
yr30 = yr30.int_pleasb.value_counts().to_frame().reset_index()
yr30 = yr30.rename(columns={'count' : 'total'})
yr30 = yr30.loc[(yr30.int_pleasb != 'declined')]
yr30['records'] = yr30.total.sum() 
yr30['yr30_per_int'] = (yr30.total / yr30.records) * 100   
yr30

         int_pleasb  total  records  yr30_per_int
0              none   1705     2799     60.914612
1      several_days    647     2799     23.115398
2  nearly_every_day    244     2799      8.717399
3    more_than_half    203     2799      7.252590

In [60]:
yr1_5 = pd.merge(yr1, yr5, left_on=['int_pleasb'], right_on=['int_pleasb'],how='inner')
yr1_5

,int_pleasb,total_x,records_x,yr1_per_int,total_y,records_y,yr5_per_int
0,none,5670,10327,54.904619,4211,7209,58.413095
1,several_days,2647,10327,25.631839,1738,7209,24.108753
2,nearly_every_day,1103,10327,10.680740,653,7209,9.058122
3,more_than_half,907,10327,8.782802,607,7209,8.420031

In [61]:
yr1_10 = pd.merge(yr1_5, yr10, left_on=['int_pleasb'], right_on=['int_pleasb'],how='inner')
yr1_10

,int_pleasb,total_x,records_x,yr1_per_int,total_y,records_y,yr5_per_int,total,records,yr10_per_int
0,none,5670,10327,54.904619,4211,7209,58.413095,3248,5403,60.114751
1,several_days,2647,10327,25.631839,1738,7209,24.108753,1237,5403,22.894688
2,nearly_every_day,1103,10327,10.680740,653,7209,9.058122,439,5403,8.125116
3,more_than_half,907,10327,8.782802,607,7209,8.420031,479,5403,8.865445

In [62]:
yr1_10 = yr1_10[['int_pleasb','yr1_per_int', 'yr5_per_int', 'yr10_per_int']]
yr1_10

         int_pleasb  yr1_per_int  yr5_per_int  yr10_per_int
0              none    54.904619    58.413095     60.114751
1      several_days    25.631839    24.108753     22.894688
2  nearly_every_day    10.680740     9.058122      8.125116
3    more_than_half     8.782802     8.420031      8.865445

In [63]:
yr1_15 = pd.merge(yr1_10, yr15, left_on=['int_pleasb'], right_on=['int_pleasb'],how='inner')
yr1_15

,int_pleasb,yr1_per_int,yr5_per_int,yr10_per_int,total,records,yr15_per_int
0,none,54.904619,58.413095,60.114751,2630,4184,62.858509
1,several_days,25.631839,24.108753,22.894688,910,4184,21.749522
2,nearly_every_day,10.680740,9.058122,8.125116,318,4184,7.600382
3,more_than_half,8.782802,8.420031,8.865445,326,4184,7.791587

In [64]:
yr1_20 = pd.merge(yr1_15, yr20, left_on=['int_pleasb'], right_on=['int_pleasb'],how='inner')
yr1_20

,int_pleasb,yr1_per_int,yr5_per_int,yr10_per_int,total_x,records_x,yr15_per_int,total_y,records_y,yr20_per_int
0,none,54.904619,58.413095,60.114751,2630,4184,62.858509,2316,3670,63.106267
1,several_days,25.631839,24.108753,22.894688,910,4184,21.749522,809,3670,22.043597
2,nearly_every_day,10.680740,9.058122,8.125116,318,4184,7.600382,290,3670,7.901907
3,more_than_half,8.782802,8.420031,8.865445,326,4184,7.791587,255,3670,6.948229

In [65]:
yr1_25 = pd.merge(yr1_20, yr25, left_on=['int_pleasb'], right_on=['int_pleasb'],how='inner')
yr1_25

,int_pleasb,yr1_per_int,yr5_per_int,yr10_per_int,total_x,records_x,yr15_per_int,total_y,records_y,yr20_per_int,total,records,yr25_per_int
0,none,54.904619,58.413095,60.114751,2630,4184,62.858509,2316,3670,63.106267,2196,3467,63.340063
1,several_days,25.631839,24.108753,22.894688,910,4184,21.749522,809,3670,22.043597,755,3467,21.776752
2,nearly_every_day,10.680740,9.058122,8.125116,318,4184,7.600382,290,3670,7.901907,264,3467,7.614652
3,more_than_half,8.782802,8.420031,8.865445,326,4184,7.791587,255,3670,6.948229,252,3467,7.268532

In [66]:
yr1_25 = yr1_25[['int_pleasb','yr1_per_int', 'yr5_per_int', 'yr10_per_int', 'yr15_per_int', 'yr20_per_int', 'yr25_per_int']]
yr1_25

,int_pleasb,yr1_per_int,yr5_per_int,yr10_per_int,yr15_per_int,yr20_per_int,yr25_per_int
0,none,54.904619,58.413095,60.114751,62.858509,63.106267,63.340063
1,several_days,25.631839,24.108753,22.894688,21.749522,22.043597,21.776752
2,nearly_every_day,10.680740,9.058122,8.125116,7.600382,7.901907,7.614652
3,more_than_half,8.782802,8.420031,8.865445,7.791587,6.948229,7.268532

In [67]:
yr1_30 = pd.merge(yr1_25, yr30, left_on=['int_pleasb'], right_on=['int_pleasb'],how='inner')
yr1_30

,int_pleasb,yr1_per_int,yr5_per_int,yr10_per_int,yr15_per_int,yr20_per_int,yr25_per_int,total,records,yr30_per_int
0,none,54.904619,58.413095,60.114751,62.858509,63.106267,63.340063,1705,2799,60.914612
1,several_days,25.631839,24.108753,22.894688,21.749522,22.043597,21.776752,647,2799,23.115398
2,nearly_every_day,10.680740,9.058122,8.125116,7.600382,7.901907,7.614652,244,2799,8.717399
3,more_than_half,8.782802,8.420031,8.865445,7.791587,6.948229,7.268532,203,2799,7.252590

In [68]:
yr1_30 = yr1_30[['int_pleasb','yr1_per_int', 'yr5_per_int', 'yr10_per_int', 'yr15_per_int', 'yr20_per_int', 'yr25_per_int', 'yr30_per_int']]
yr1_30

,int_pleasb,yr1_per_int,yr5_per_int,yr10_per_int,yr15_per_int,yr20_per_int,yr25_per_int,yr30_per_int
0,none,54.904619,58.413095,60.114751,62.858509,63.106267,63.340063,60.914612
1,several_days,25.631839,24.108753,22.894688,21.749522,22.043597,21.776752,23.115398
2,nearly_every_day,10.680740,9.058122,8.125116,7.600382,7.901907,7.614652,8.717399
3,more_than_half,8.782802,8.420031,8.865445,7.791587,6.948229,7.268532,7.252590

In [69]:
yr1_30 = yr1_30.rename(columns={
    'int_pleasb' : 'int_ples',
    'yr1_per_int' : 'yr1',
    'yr5_per_int' : 'yr5',
    'yr10_per_int' : 'yr10',
    'yr15_per_int' : 'yr15',
    'yr20_per_int' : 'yr20',
    'yr25_per_int' : 'yr25',
    'yr30_per_int' : 'yr30',
})

yr1_30

,int_ples,yr1,yr5,yr10,yr15,yr20,yr25,yr30
0,none,54.904619,58.413095,60.114751,62.858509,63.106267,63.340063,60.914612
1,several_days,25.631839,24.108753,22.894688,21.749522,22.043597,21.776752,23.115398
2,nearly_every_day,10.680740,9.058122,8.125116,7.600382,7.901907,7.614652,8.717399
3,more_than_half,8.782802,8.420031,8.865445,7.791587,6.948229,7.268532,7.252590

In [70]:
yr_ai = f1_menphy[['int_pleas1','ai_per']]
yr_ai

         int_pleas1     ai_per
1              none  64.773414
2      several_days  25.468278
3    more_than_half   5.528701
4  nearly_every_day   4.229607

In [71]:
yr_ai = yr_ai.rename(columns={
    'int_pleas1' : 'int_ples',
    'ai_per' : 'ai',
})

yr_ai

           int_ples         ai
1              none  64.773414
2      several_days  25.468278
3    more_than_half   5.528701
4  nearly_every_day   4.229607

In [72]:
yr_all_int = pd.merge(yr_ai, yr1_30, left_on=['int_ples'], right_on=['int_ples'],how='inner')
yr_all_int

,int_ples,ai,yr1,yr5,yr10,yr15,yr20,yr25,yr30
0,none,64.773414,54.904619,58.413095,60.114751,62.858509,63.106267,63.340063,60.914612
1,several_days,25.468278,25.631839,24.108753,22.894688,21.749522,22.043597,21.776752,23.115398
2,more_than_half,5.528701,8.782802,8.420031,8.865445,7.791587,6.948229,7.268532,7.252590
3,nearly_every_day,4.229607,10.680740,9.058122,8.125116,7.600382,7.901907,7.614652,8.717399

In [73]:
f1_menphy.int_pleas1.value_counts().to_frame().reset_index()

         int_pleas1  count
0              none      1
1      several_days      1
2    more_than_half      1
3  nearly_every_day      1