In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

In [ ]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))

#### Read in first dataset - Form I dataset includes baseline demographic and clinical information of persons who met eligibility criteria.

In [ ]:
f1 = pd.read_csv('C:/Users/dmora/Documents/NSS/Capstone/data/f1_public_2021.csv')
f1

#### Create df of base variables

In [ ]:
f1_base = (
    f1
    [[
        'UniID', 'AAdmDt', 'ARbAdmDt', 'ADisDt',
        'AI2ADays', 'AI2RhADa', 'AInjAge', 'ASex', 
        'APResInj', 'APResDis',
        'AMarStIj', 'AEducLvl','ABPHQ1', 
        'ABPHQ2', 'ABPHQ9', 'ABPHQ6', 'ABPHQMDS',
        'ABPHQSDS', 'APrLvlSt', 'AFmIncLv', 'AHDaSyRb',
        'AFScorRb', 'AFScorDs',
        
        
    ]]
   
)

f1_base

#### Rename columns for easier understanding.

In [ ]:
f1_base = f1_base.rename(columns={'UniID' : 'unique_id', 'AAdmDt' : 'sys_adm_dt', 'ARbAdmDt' : 'reh_adm_dt', 'ADisDt' : 'discharge_dt', 
                          'AI2ADays' : 'days_inj_to_sys', 'AI2RhADa' : 'days_inj_to_reh',  'AInjAge' : 'age_at_injury', 'ASex': 'sex',
                          'APResInj' : 'res_at_inj','APResDis' : 'res_at_dis', 
                          'AMarStIj' : 'marital_stat_ai', 'AEducLvl' : 'educ_lvl_ai', 'ABPHQ1' : 'interest_or_pleasure', 
                          'ABPHQ2' : 'depressed', 'ABPHQ9' : 'self_harm', 'ABPHQ6' : 'feel_bad', 'ABPHQMDS': 'depressive_syndrome', 
                          'ABPHQSDS' : 'severity_of_depression', 'APrLvlSt' : 'occup_status', 'AFmIncLv' : 'income_level', 
                          'AHDaSyRb' : 'days_rehab1'})

f1_base

#### Fill in n/a values in rehab_adm_dt column, so we can then change to int for year consistency across the df.

In [ ]:
f1_base['reh_adm_dt'] = f1_base['reh_adm_dt'].fillna(0)
f1_base

#### Change dtype of reh_adm_dt to integer

In [ ]:
f1_base['reh_adm_dt'] = f1_base['reh_adm_dt'].astype('int')

#### Run loop on sex column to create gender column to include gender name

In [ ]:
for ind, row in f1_base.iterrows():
    if row.sex == 1:
        f1_base.loc[ind, 'gender'] = 'm'
    elif row.sex == 2:
        f1_base.loc[ind, 'gender'] = 'f'
    elif row.sex == 3:
        f1_base.loc[ind, 'gender'] = 't'
    elif row.sex == 9:
        f1_base.loc[ind, 'gender'] = 'u'

#### Drop sex column

In [ ]:
f1_base = f1_base.drop('sex', axis = 1)
f1_base

#### Run loop on res_at_inj column to create res_at_inj column to include type of residence instead of #

In [ ]:
for ind, row in f1_base.iterrows():
    if row.res_at_inj == 1:
        f1_base.loc[ind, 'res_at_injb'] = 'pri_res'
    elif row.res_at_inj == 2:
        f1_base.loc[ind, 'res_at_injb'] = 'hospital'
    elif row.res_at_inj == 3:
        f1_base.loc[ind, 'res_at_injb'] = 'nurs_home'
    elif row.res_at_inj == 4:
        f1_base.loc[ind, 'res_at_injb'] = 'group'
    elif row.res_at_inj == 5:
        f1_base.loc[ind, 'res_at_injb'] = 'correctional'
    elif row.res_at_inj == 6:
        f1_base.loc[ind, 'res_at_injb'] = 'motel'
    elif row.res_at_inj == 7:
        f1_base.loc[ind, 'res_at_injb'] = 'deceased'
    elif row.res_at_inj == 8:
        f1_base.loc[ind, 'res_at_injb'] = 'other'
    elif row.res_at_inj == 9:
        f1_base.loc[ind, 'res_at_injb'] = 'homeless'    
    elif row.res_at_inj == 10:
        f1_base.loc[ind, 'res_at_injb'] = 'assisted'    
    elif row.res_at_inj == 99:
        f1_base.loc[ind, 'res_at_injb'] = 'unknown'

#### Drop original numerical res_at_inj column

In [ ]:
f1_base = f1_base.drop('res_at_inj', axis = 1)
f1_base

#### Run loop on res_at_dis column to create res_at_dis column to include type of residence instead of #

In [ ]:
for ind, row in f1_base.iterrows():
    if row.res_at_dis == 1:
        f1_base.loc[ind, 'res_at_disb'] = 'pri_res'
    elif row.res_at_dis == 2:
        f1_base.loc[ind, 'res_at_disb'] = 'hospital'
    elif row.res_at_dis == 3:
        f1_base.loc[ind, 'res_at_disb'] = 'nurs_home'
    elif row.res_at_dis == 4:
        f1_base.loc[ind, 'res_at_disb'] = 'group'
    elif row.res_at_dis == 5:
        f1_base.loc[ind, 'res_at_disb'] = 'correctional'
    elif row.res_at_dis == 6:
        f1_base.loc[ind, 'res_at_disb'] = 'motel'
    elif row.res_at_dis == 7:
        f1_base.loc[ind, 'res_at_disb'] = 'deceased'
    elif row.res_at_dis == 8:
        f1_base.loc[ind, 'res_at_disb'] = 'other'
    elif row.res_at_dis == 9:
        f1_base.loc[ind, 'res_at_disb'] = 'homeless'    
    elif row.res_at_dis == 10:
        f1_base.loc[ind, 'res_at_disb'] = 'assisted'    
    elif row.res_at_dis == 99:
        f1_base.loc[ind, 'res_at_disb'] = 'unknown'

#### Drop original res_at_dis column

In [ ]:
f1_base = f1_base.drop('res_at_dis', axis = 1)
f1_base

In [ ]:
f1_base = f1_base.rename(columns={'res_at_injb' : 'res_at_inj', 'res_at_disb' : 'res_at_dis'})
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.marital_stat_ai == 1:
        f1_base.loc[ind, 'marital_stat_aib'] = 'single'
    elif row.marital_stat_ai == 2:
        f1_base.loc[ind, 'marital_stat_aib'] = 'married'
    elif row.marital_stat_ai == 3:
        f1_base.loc[ind, 'marital_stat_aib'] = 'divorced'
    elif row.marital_stat_ai == 4:
        f1_base.loc[ind, 'marital_stat_aib'] = 'separated'
    elif row.marital_stat_ai == 5:
        f1_base.loc[ind, 'marital_stat_aib'] = 'widowed'
    elif row.marital_stat_ai == 6:
        f1_base.loc[ind, 'marital_stat_aib'] = 'other'
    elif row.marital_stat_ai == 7:
        f1_base.loc[ind, 'marital_stat_aib'] = 'living_with'
    elif row.marital_stat_ai == 9:
        f1_base.loc[ind, 'marital_stat_aib'] = 'unknown'

In [ ]:
f1_base

In [ ]:
f1_base = f1_base.drop('marital_stat_ai', axis = 1)
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.educ_lvl_ai == 1:
        f1_base.loc[ind, 'educ_lvl_aib'] = '8th_or_less'
    elif row.educ_lvl_ai == 2:
        f1_base.loc[ind, 'educ_lvl_aib'] = '9th_11th'
    elif row.educ_lvl_ai == 3:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'hsd'
    elif row.educ_lvl_ai == 4:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'ad'
    elif row.educ_lvl_ai == 5:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'bd'
    elif row.educ_lvl_ai == 6:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'md'
    elif row.educ_lvl_ai == 7:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'doc'
    elif row.educ_lvl_ai == 8:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'other'    
    elif row.educ_lvl_ai == 9:
        f1_base.loc[ind, 'educ_lvl_aib'] = 'unknown'

In [ ]:
f1_base = f1_base.drop('educ_lvl_ai', axis = 1)
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.interest_or_pleasure == 0:
        f1_base.loc[ind, 'int_or_pleas'] = 'none'
    elif row.interest_or_pleasure == 1:
        f1_base.loc[ind, 'int_or_pleas'] = 'several_days'
    elif row.interest_or_pleasure == 2:
        f1_base.loc[ind, 'int_or_pleas'] = 'more_than_half'
    elif row.interest_or_pleasure == 3:
        f1_base.loc[ind, 'int_or_pleas'] = 'nearly_every_day'
    elif row.interest_or_pleasure == 7:
        f1_base.loc[ind, 'int_or_pleas'] = 'declined'
    elif row.interest_or_pleasure == 9:
        f1_base.loc[ind, 'int_or_pleas'] = 'unknown'

In [ ]:
f1_base = f1_base.drop('interest_or_pleasure', axis = 1)
f1_base

In [ ]:
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.depressed == 0:
        f1_base.loc[ind, 'depressedb'] = 'none'
    elif row.depressed == 1:
        f1_base.loc[ind, 'depressedb'] = 'several_days'
    elif row.depressed == 2:
        f1_base.loc[ind, 'depressedb'] = 'more_than_half'
    elif row.depressed == 3:
        f1_base.loc[ind, 'depressedb'] = 'nearly_every_day'
    elif row.depressed == 7:
        f1_base.loc[ind, 'depressedb'] = 'declined'
    elif row.depressed == 9:
        f1_base.loc[ind, 'depressedb'] = 'unknown'

In [ ]:
f1_base = f1_base.drop('depressed', axis = 1)
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.self_harm == 0:
        f1_base.loc[ind, 'self_harmb'] = 'none'
    elif row.self_harm == 1:
        f1_base.loc[ind, 'self_harmb'] = 'several_days'
    elif row.self_harm == 2:
        f1_base.loc[ind, 'self_harmb'] = 'more_than_half'
    elif row.self_harm == 3:
        f1_base.loc[ind, 'self_harmb'] = 'nearly_every_day'
    elif row.self_harm == 7:
        f1_base.loc[ind, 'self_harmb'] = 'declined'
    elif row.self_harm == 9:
        f1_base.loc[ind, 'self_harmb'] = 'unknown'

In [ ]:
f1_base = f1_base.drop('self_harm', axis = 1)
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.feel_bad == 0:
        f1_base.loc[ind, 'feel_badb'] = 'none'
    elif row.feel_bad == 1:
        f1_base.loc[ind, 'feel_badb'] = 'several_days'
    elif row.feel_bad == 2:
        f1_base.loc[ind, 'feel_badb'] = 'more_than_half'
    elif row.feel_bad == 3:
        f1_base.loc[ind, 'feel_badb'] = 'nearly_every_day'
    elif row.feel_bad == 7:
        f1_base.loc[ind, 'feel_badb'] = 'declined'
    elif row.feel_bad == 9:
        f1_base.loc[ind, 'feel_badb'] = 'unknown'

In [ ]:
f1_base = f1_base.drop('feel_bad', axis = 1)
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.depressive_syndrome == 0:
        f1_base.loc[ind, 'dep_syn'] = 'none'
    elif row.depressive_syndrome == 1:
        f1_base.loc[ind, 'dep_syn'] = 'major'
    elif row.depressive_syndrome == 2:
        f1_base.loc[ind, 'dep_syn'] = 'other'
    elif row.depressive_syndrome == 9:
        f1_base.loc[ind, 'dep_syn'] = 'unknown'

In [ ]:
f1_base = f1_base.drop('depressive_syndrome', axis = 1)
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.occup_status == 1:
        f1_base.loc[ind, 'occ_stat'] = 'working'
    elif row.occup_status == 2:
        f1_base.loc[ind, 'occ_stat'] = 'homemaker'
    elif row.occup_status == 3:
        f1_base.loc[ind, 'occ_stat'] = 'otj_train'
    elif row.occup_status == 4:
        f1_base.loc[ind, 'occ_stat'] = 'shel_work'
    elif row.occup_status == 5:
        f1_base.loc[ind, 'occ_stat'] = 'retired'
    elif row.occup_status == 6:
        f1_base.loc[ind, 'occ_stat'] = 'student'
    elif row.occup_status == 7:
        f1_base.loc[ind, 'occ_stat'] = 'unemployed'
    elif row.occup_status == 8:
        f1_base.loc[ind, 'occ_stat'] = 'retired_dis'
    elif row.occup_status == 9:
        f1_base.loc[ind, 'occ_stat'] = 'retired_nondis'   
    elif row.occup_status == 10:
        f1_base.loc[ind, 'occ_stat'] = 'other'
    elif row.occup_status == 99:
        f1_base.loc[ind, 'occ_stat'] = 'unknown'

In [ ]:
f1_base = f1_base.drop('occup_status', axis = 1)
f1_base

In [ ]:
for ind, row in f1_base.iterrows():
    if row.income_level == 1:
        f1_base.loc[ind, 'inc_lvl1'] = 'lt25k'
    elif row.income_level == 2:
        f1_base.loc[ind, 'inc_lvl1'] = '25k_49999'
    elif row.income_level == 3:
        f1_base.loc[ind, 'inc_lvl1'] = '50k_74999'
    elif row.income_level == 4:
        f1_base.loc[ind, 'inc_lvl1'] = '75pl'
    elif row.income_level == 6:
        f1_base.loc[ind, 'inc_lvl1'] = 'not_sure'
    elif row.income_level == 7:
        f1_base.loc[ind, 'inc_lvl1'] = 'declined'
    elif row.income_level == 9:
        f1_base.loc[ind, 'inc_lvl1'] = 'unknown'

In [ ]:
f1_base = f1_base.drop('income_level', axis = 1)
f1_base

In [ ]:
f1_base = f1_base.rename(columns={'age_at_injury' : 'age1', 'severity_of_depression' : 'sev_dep', 'res_at_inj' : 'res1', 'marital_stat_aib' : 'mar_stat1',
                                  'educ_lvl_aib' : 'educ_lvl1', 'int_or_pleas' : 'int_pleas1', 'depressedb' : 'depr1', 'self_harmb' : 'self_harm1',
                                  'feel_badb' : 'feel_bad1', 'dep_syn' : 'dep_syn1', 'occ_stat' : 'occ_stat1'})

#### Run all columns through the below bar chart to identify which variables have a large amount of unknowns.

In [ ]:
f1_base['inc_lvl1'].value_counts().plot(kind = 'bar');

#### Read in second dataset - Form II dataset includes sociodemographic and outcome data of Form I participants obtained at follow-up.

In [ ]:
f2 = pd.read_csv('C:/Users/dmora/Documents/NSS/Capstone/data/f2_public_2021.csv')

In [ ]:
f2_base = (
    f2
    [[
        'UniID', 'BYear', 'BPlcRes', 'BMarStat',
        'BMarStCh', 'BEducLvl', 'BBPHQ1', 'BBPHQ2',
        'BBPHQ9', 'BBPHQ6', 'BBPHQMDS', 'BBPHQSDS',
        'BPrLvlSt', 'BFmIncLv', 'BSPHthSt', 'BSPHthRC', 
        'BRhspRs1', 'BRhspRs2', 'BRhspRs3', 'BRhspRs4',
        'BRhspRs5', 'BRhspRs6', 'BRhspRs7', 'BRhspRs8',
        'BRhspNbr'
        
        
    ]]
   
)

In [ ]:
f2_base = f2_base.rename(columns={'UniID' : 'unique_id', 'BYear' : 'post_inj_yr', 'BPlcRes' : 'res_pi', 'BMarStat' : 'marital_stat_pi',
        'BMarStCh' : 'marital_stat_change', 'BEducLvl' : 'educ_lvl_pi', 'BBPHQ1' : 'interest_or_pleaseure_pi', 'BBPHQ2' : 'depressed_pi',
        'BBPHQ9' : 'self_harm_pi','BBPHQ6' : 'feel_bad_pi','BBPHQMDS': 'depressive_syndrome_pi', 'BBPHQSDS' : 'sev_dep2',
        'BPrLvlSt' : 'occup_status_pi', 'BFmIncLv' : 'income_level'})

In [ ]:
f2_base['res_pi'] = f2_base['res_pi'].fillna(0)
f2_base

In [ ]:
f2_base['res_pi'] = f2_base['res_pi'].astype('int')

In [ ]:
for ind, row in f2_base.iterrows():
    if row.res_pi == 1:
        f2_base.loc[ind, 'res2'] = 'pri_res'
    elif row.res_pi == 2:
        f2_base.loc[ind, 'res2'] = 'hospital'
    elif row.res_pi == 3:
        f2_base.loc[ind, 'res2'] = 'nurs_home'
    elif row.res_pi == 4:
        f2_base.loc[ind, 'res2'] = 'group'
    elif row.res_pi == 5:
        f2_base.loc[ind, 'res2'] = 'correctional'
    elif row.res_pi == 6:
        f2_base.loc[ind, 'res2'] = 'motel'
    elif row.res_pi == 8:
        f2_base.loc[ind, 'res2'] = 'other'
    elif row.res_pi == 9:
        f2_base.loc[ind, 'res2'] = 'homeless'    
    elif row.res_pi == 10:
        f2_base.loc[ind, 'res2'] = 'assisted'    
    elif row.res_pi == 99:
        f2_base.loc[ind, 'res2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('res_pi', axis = 1)

In [ ]:
for ind, row in f2_base.iterrows():
    if row.marital_stat_pi == 1:
        f2_base.loc[ind, 'mar_stat2'] = 'single'
    elif row.marital_stat_pi == 2:
        f2_base.loc[ind, 'mar_stat2'] = 'married'
    elif row.marital_stat_pi == 3:
        f2_base.loc[ind, 'mar_stat2'] = 'divorced'
    elif row.marital_stat_pi == 4:
        f2_base.loc[ind, 'mar_stat2'] = 'separated'
    elif row.marital_stat_pi == 5:
        f2_base.loc[ind, 'mar_stat2'] = 'widowed'
    elif row.marital_stat_pi == 6:
        f2_base.loc[ind, 'mar_stat2'] = 'other'
    elif row.marital_stat_pi == 7:
        f2_base.loc[ind, 'mar_stat2'] = 'living_with'
    elif row.marital_stat_pi == 9:
        f2_base.loc[ind, 'mar_stat2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('marital_stat_pi', axis = 1)

In [ ]:
for ind, row in f2_base.iterrows():
    if row.marital_stat_change == 0:
        f2_base.loc[ind, 'mar_stat_up2'] = 'no_up'
    elif row.marital_stat_change == 1:
        f2_base.loc[ind, 'mar_stat_up2'] = 'div'
    elif row.marital_stat_change == 2:
        f2_base.loc[ind, 'mar_stat_up2'] = 'mar'
    elif row.marital_stat_change == 3:
        f2_base.loc[ind, 'mar_stat_up2'] = 'wid'
    elif row.marital_stat_change == 4:
        f2_base.loc[ind, 'mar_stat_up2'] = 'div_mar'
    elif row.marital_stat_change == 5:
        f2_base.loc[ind, 'mar_stat_up2'] = 'wid_mar'
    elif row.marital_stat_change == 6:
        f2_base.loc[ind, 'mar_stat_up2'] = 'div_mar_wid'
    elif row.marital_stat_change == 7:
        f2_base.loc[ind, 'mar_stat_up2'] = 'other'
    elif row.marital_stat_change == 8:
        f2_base.loc[ind, 'mar_stat_up2'] = 'so_part'    
    elif row.marital_stat_change == 9:
        f2_base.loc[ind, 'mar_stat_up2']= 'unknown'

In [ ]:
f2_base = f2_base.drop('marital_stat_change', axis = 1)

In [ ]:
f2_base['educ_lvl_pi'].value_counts(dropna = False)

In [ ]:
for ind, row in f2_base.iterrows():
    if row.educ_lvl_pi == 1:
        f2_base.loc[ind, 'educ_lvl2'] = '8th_or_less'
    elif row.educ_lvl_pi == 2:
        f2_base.loc[ind, 'educ_lvl2'] = '9th_11th'
    elif row.educ_lvl_pi == 3:
        f2_base.loc[ind, 'educ_lvl2'] = 'hsd'
    elif row.educ_lvl_pi == 4:
        f2_base.loc[ind, 'educ_lvl2'] = 'ad'
    elif row.educ_lvl_pi == 5:
        f2_base.loc[ind, 'educ_lvl2'] = 'bd'
    elif row.educ_lvl_pi == 6:
        f2_base.loc[ind, 'educ_lvl2'] = 'md'
    elif row.educ_lvl_pi== 7:
        f2_base.loc[ind, 'educ_lvl2'] = 'doc'
    elif row.educ_lvl_pi == 8:
        f2_base.loc[ind, 'educ_lvl2'] = 'other'    
    elif row.educ_lvl_pi == 9:
        f2_base.loc[ind, 'educ_lvl2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('educ_lvl_pi', axis = 1)

In [ ]:
for ind, row in f2_base.iterrows():
    if row.interest_or_pleaseure_pi == 0:
        f2_base.loc[ind, 'int_pleas2'] = 'none'
    elif row.interest_or_pleaseure_pi == 1:
        f2_base.loc[ind, 'int_pleas2'] = 'several_days'
    elif row.interest_or_pleaseure_pi == 2:
        f2_base.loc[ind, 'int_pleas2'] = 'more_than_half'
    elif row.interest_or_pleaseure_pi == 3:
        f2_base.loc[ind, 'int_pleas2'] = 'nearly_every_day'
    elif row.interest_or_pleaseure_pi == 7:
        f2_base.loc[ind, 'int_pleas2'] = 'declined'
    elif row.interest_or_pleaseure_pi == 9:
        f2_base.loc[ind, 'int_pleas2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('interest_or_pleaseure_pi', axis = 1)

In [ ]:
for ind, row in f2_base.iterrows():
    if row.depressed_pi == 0:
        f2_base.loc[ind, 'depr2'] = 'none'
    elif row.depressed_pi == 1:
        f2_base.loc[ind, 'depr2'] = 'several_days'
    elif row.depressed_pi == 2:
        f2_base.loc[ind, 'depr2'] = 'more_than_half'
    elif row.depressed_pi == 3:
        f2_base.loc[ind, 'depr2'] = 'nearly_every_day'
    elif row.depressed_pi == 7:
        f2_base.loc[ind, 'depr2'] = 'declined'
    elif row.depressed_pi == 9:
        f2_base.loc[ind, 'depr2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('depressed_pi', axis = 1)

In [ ]:
for ind, row in f2_base.iterrows():
    if row.self_harm_pi == 0:
        f2_base.loc[ind, 'self_harm2'] = 'none'
    elif row.self_harm_pi == 1:
        f2_base.loc[ind, 'self_harm2'] = 'several_days'
    elif row.self_harm_pi == 2:
        f2_base.loc[ind, 'self_harm2'] = 'more_than_half'
    elif row.self_harm_pi == 3:
        f2_base.loc[ind, 'self_harm2'] = 'nearly_every_day'
    elif row.self_harm_pi == 7:
        f2_base.loc[ind, 'self_harm2'] = 'declined'
    elif row.self_harm_pi == 9:
        f2_base.loc[ind, 'self_harm2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('self_harm_pi', axis = 1)
f2_base

In [ ]:
for ind, row in f2_base.iterrows():
    if row.feel_bad_pi == 0:
        f2_base.loc[ind, 'feel_bad2'] = 'none'
    elif row.feel_bad_pi == 1:
        f2_base.loc[ind, 'feel_bad2'] = 'several_days'
    elif row.feel_bad_pi == 2:
        f2_base.loc[ind, 'feel_bad2'] = 'more_than_half'
    elif row.feel_bad_pi == 3:
        f2_base.loc[ind, 'feel_bad2'] = 'nearly_every_day'
    elif row.feel_bad_pi == 7:
        f2_base.loc[ind, 'feel_bad2'] = 'declined'
    elif row.feel_bad_pi == 9:
        f2_base.loc[ind, 'feel_bad2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('feel_bad_pi', axis = 1)
f2_base

In [ ]:
for ind, row in f2_base.iterrows():
    if row.depressive_syndrome_pi == 0:
        f2_base.loc[ind, 'dep_syn2'] = 'none'
    elif row.depressive_syndrome_pi == 1:
        f2_base.loc[ind, 'dep_syn2'] = 'major'
    elif row.depressive_syndrome_pi == 2:
        f2_base.loc[ind, 'dep_syn2'] = 'other'
    elif row.depressive_syndrome_pi == 9:
        f2_base.loc[ind, 'dep_syn2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('depressive_syndrome_pi', axis = 1)
f2_base

In [ ]:
for ind, row in f2_base.iterrows():
    if row.occup_status_pi == 1:
        f2_base.loc[ind, 'occ_stat2'] = 'working'
    elif row.occup_status_pi == 2:
        f2_base.loc[ind, 'occ_stat2'] = 'homemaker'
    elif row.occup_status_pi == 3:
        f2_base.loc[ind, 'occ_stat2'] = 'otj_train'
    elif row.occup_status_pi == 4:
        f2_base.loc[ind, 'occ_stat2'] = 'shel_work'
    elif row.occup_status_pi == 5:
        f2_base.loc[ind, 'occ_stat2'] = 'retired'
    elif row.occup_status_pi == 6:
        f2_base.loc[ind, 'occ_stat2'] = 'student'
    elif row.occup_status_pi == 7:
        f2_base.loc[ind, 'occ_stat2'] = 'unemployed'
    elif row.occup_status_pi == 8:
        f2_base.loc[ind, 'occ_stat2'] = 'retired_dis'
    elif row.occup_status_pi == 9:
        f2_base.loc[ind, 'occ_stat2'] = 'retired_nondis'   
    elif row.occup_status_pi == 10:
        f2_base.loc[ind, 'occ_stat2'] = 'other'
    elif row.occup_status_pi == 99:
        f2_base.loc[ind, 'occ_stat2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('occup_status_pi', axis = 1)
f2_base

In [ ]:
f2_base = f2_base.rename(columns={'severity_of_depression_pi' : 'sev_dep2'})

f2_base

In [ ]:
for ind, row in f2_base.iterrows():
    if row.income_level == 1:
        f2_base.loc[ind, 'inc_lvl2'] = 'lt25k'
    elif row.income_level == 2:
        f2_base.loc[ind, 'inc_lvl2'] = '25k_49999'
    elif row.income_level == 3:
        f2_base.loc[ind, 'inc_lvl2'] = '50k_74999'
    elif row.income_level == 4:
        f2_base.loc[ind, 'inc_lvl2'] = '75kpl'
    elif row.income_level == 6:
        f2_base.loc[ind, 'inc_lvl2'] = 'not_sure'
    elif row.income_level == 7:
        f2_base.loc[ind, 'inc_lvl2'] = 'declined'
    elif row.income_level == 9:
        f2_base.loc[ind, 'inc_lvl2'] = 'unknown'

In [ ]:
f2_base = f2_base.drop('income_level', axis = 1)
f2_base

In [ ]:
f2_base['post_inj_yr'].value_counts().plot(kind = 'bar');

In [ ]:
f1_base.dtypes

In [ ]:
f1_base['age1'] = f1_base['age1'].replace(to_replace = '6-12y', value = '9')
f1_base['age1']

In [ ]:
f1_base.loc[f1_base.age1 == '500']

In [ ]:
f1_base['age1'] = f1_base['age1'].replace(to_replace = '0-5y', value = '3')
f1_base['age1']

In [ ]:
f1_base['age1'] = f1_base['age1'].replace(to_replace = '13-14y', value = '14')

In [ ]:
f1_base['age1'] = f1_base['age1'].replace(to_replace = '88+y', value = '89')

In [ ]:
f1_base.loc[f1_base.age1 == 888].count()

In [ ]:
f1_base['age1'] = f1_base['age1'].astype('int')

In [ ]:
f1_base.shape

In [ ]:
f1_base['age1'].value_counts()

In [ ]:
f1_base.age1.sort_values(ascending = False)

In [ ]:
plt.figure(figsize = (10,6))

sns.boxplot(data = f1_base,
           x = 'age1')

plt.title('SCI Age at Injury');

In [ ]:
age_ai = f1_base.age1.value_counts().to_frame().reset_index()
age_ai

In [ ]:
age_ai  = age_ai .rename(columns={'count' : 'total'})
age_ai

In [ ]:
age_ai['records'] = age_ai.total.sum()  
age_ai['ai_age_per'] = (age_ai.total / age_ai.records) * 100    
age_ai

In [ ]:
age_ai

In [ ]:
f1_base[['age1', 'days_rehab1', 'AFScorRb', 'AFScorDs']].corr()

#### Very weak positive correlation, an increase in the first variable will likely lead to an increase in the second variable.

In [ ]:
f1_base

In [ ]:
f1_base.columns

In [ ]:
f1_ls = f1_base[['unique_id','age1', 'gender', 'res1', 'res_at_dis', 'mar_stat1', 'educ_lvl1', 'occ_stat1', 'inc_lvl1']]
f1_ls

In [ ]:
f2_base.columns

In [ ]:
f2_ls = f2_base[['unique_id', 'post_inj_yr', 'res2','mar_stat2', 'mar_stat_up2', 'educ_lvl2', 'occ_stat2', 'inc_lvl2']]
f2_ls

In [ ]:
f2_ls1 = f2_ls.loc[(f2_base.post_inj_yr == 1)]
f2_ls1

In [ ]:
f2_ls5 = f2_ls.loc[(f2_base.post_inj_yr == 5)]
f2_ls5

In [ ]:
f2_ls10 = f2_ls.loc[(f2_base.post_inj_yr == 10)]
f2_ls10

In [ ]:
f2_ls15 = f2_ls.loc[(f2_base.post_inj_yr == 15)]
f2_ls15

In [ ]:
yr1 = pd.merge(f1_ls, f2_ls1, left_on=['unique_id'], right_on=['unique_id'],how='inner')
yr1

In [ ]:
yr5 = pd.merge(f1_ls, f2_ls5, left_on=['unique_id'], right_on=['unique_id'],how='inner')
yr5

In [ ]:
yr10 = pd.merge(f1_ls, f2_ls10, left_on=['unique_id'], right_on=['unique_id'],how='inner')
yr10

In [ ]:
yr15 = pd.merge(f1_ls, f2_ls15, left_on=['unique_id'], right_on=['unique_id'],how='inner')
yr15

In [ ]:
f1_f2 = pd.merge(f1_base, f2_base, left_on=['unique_id'], right_on=['unique_id'],how='inner')
f1_f2.head(10)

In [ ]:
f1_f2[['unique_id','age1', 'res1', 'res_at_dis', 'mar_stat1','post_inj_yr', 'educ_lvl1', 'occ_stat1']].head(10)

In [ ]:
yr1 = f1_f2.loc[(f2_base.post_inj_yr == 1)]
yr1

In [ ]:
yr5 = f1_f2.loc[(f2_base.post_inj_yr == 5)]
yr5

In [ ]:
yr10 = f1_f2.loc[(f2_base.post_inj_yr == 10)]
yr10

In [ ]:
yr15 = f1_f2.loc[(f2_base.post_inj_yr == 15)]
yr15

In [ ]:
yr1['mar_stat1'].value_counts().plot(kind = 'bar');

In [ ]:
yr1['mar_stat_up2'].value_counts().plot(kind = 'bar');

In [ ]:
yr1.mar_stat_up2.count()

In [ ]:
yr1_per = yr1.mar_stat_up2.value_counts().to_frame().reset_index()
yr1_per = yr1_per.rename(columns={'count' : 'total'})
yr1_per['records'] = yr1_per.total.sum()    
yr1_per['perc_yr1'] = (yr1_per.total / yr1_per.records) * 100  
yr1_per

In [ ]:
yr5_per = yr5.mar_stat_up2.value_counts().to_frame().reset_index()
yr5_per = yr5_per.rename(columns={'count' : 'total'})
yr5_per['records'] = yr5_per.total.sum() 
yr5_per['perc_yr5'] = (yr5_per.total / yr5_per.records) * 100    
yr5_per

In [ ]:
yr10_per = yr10.mar_stat_up2.value_counts().to_frame().reset_index()      
yr10_per = yr10_per.rename(columns={'count' : 'total'})
yr10_per['records'] = yr10_per.total.sum()        
yr10_per['perc_yr10'] = (yr10_per.total / yr10_per.records) * 100    
yr10_per

In [ ]:
yr15_per = yr15.mar_stat_up2.value_counts().to_frame().reset_index()
yr15_per = yr15_per.rename(columns={'count' : 'total'})
yr15_per['records'] = yr15_per.total.sum()  
yr15_per['perc_yr15'] = (yr15_per.total / yr15_per.records) * 100    
yr15_per

In [ ]:
yr1_yr5 = pd.merge(yr1_per, yr5_per, left_on=['mar_stat_up2'], right_on=['mar_stat_up2'],how='inner')
yr1_yr5

In [ ]:
yr10_yr15 = pd.merge(yr10_per, yr15_per, left_on=['mar_stat_up2'], right_on=['mar_stat_up2'],how='inner')
yr10_yr15

In [ ]:
yr1_thru_yr15 = pd.merge(yr1_yr5, yr10_yr15, left_on=['mar_stat_up2'], right_on=['mar_stat_up2'],how='inner')
yr1_thru_yr15

In [ ]:
yr1_thru_yr15 = yr1_thru_yr15[['mar_stat_up2','perc_yr1','perc_yr5','perc_yr10','perc_yr15']]
yr1_thru_yr15

In [ ]:
yr20 = f2_ls.loc[(f2_base.post_inj_yr == 20)]
yr25 = f2_ls.loc[(f2_base.post_inj_yr == 25)]
yr30 = f2_ls.loc[(f2_base.post_inj_yr == 30)]

In [ ]:
yr20_per = yr20.mar_stat_up2.value_counts().to_frame().reset_index()
yr20_per = yr20_per.rename(columns={'count' : 'total'})
yr20_per['records'] = yr20_per.total.sum()  
yr20_per['perc_yr20'] = (yr20_per.total / yr20_per.records) * 100    

yr25_per = yr25.mar_stat_up2.value_counts().to_frame().reset_index()
yr25_per = yr25_per.rename(columns={'count' : 'total'})
yr25_per['records'] = yr25_per.total.sum()  
yr25_per['perc_yr25'] = (yr25_per.total / yr25_per.records) * 100  

yr30_per = yr30.mar_stat_up2.value_counts().to_frame().reset_index()
yr30_per = yr30_per.rename(columns={'count' : 'total'})
yr30_per['records'] = yr30_per.total.sum()  
yr30_per['perc_yr30'] = (yr30_per.total / yr30_per.records) * 100

In [ ]:
yr20_yr25 = pd.merge(yr20_per, yr25_per, left_on=['mar_stat_up2'], right_on=['mar_stat_up2'],how='inner')
yr20_yr25

In [ ]:
yr20_thru_yr30 = pd.merge(yr20_yr25, yr30_per, left_on=['mar_stat_up2'], right_on=['mar_stat_up2'],how='inner')
yr20_thru_yr30

In [ ]:
yr20_thru_yr30 = yr20_thru_yr30[['mar_stat_up2','perc_yr20','perc_yr25','perc_yr30']]
yr20_thru_yr30

In [ ]:
yr_all_mar_up = pd.merge(yr1_thru_yr15, yr20_thru_yr30, left_on=['mar_stat_up2'], right_on=['mar_stat_up2'],how='inner')
yr_all_mar_up

In [ ]:
f1_ms = f1_base[['unique_id','mar_stat1']]
f1_ms

In [ ]:
f1_ms.mar_stat1.value_counts()

In [ ]:
ai_stat = f1_ms.mar_stat1.value_counts().to_frame().reset_index()
ai_stat

In [ ]:
ai_stat = ai_stat.rename(columns={'count' : 'total'})
ai_stat

In [ ]:
ai_stat['records'] = ai_stat.total.sum()  
ai_stat

In [ ]:
ai_stat['ai_per'] = (ai_stat.total / ai_stat.records) * 100    
ai_stat

In [ ]:
yr1.mar_stat2.count()

In [ ]:
yr1_stat = yr1[['unique_id','mar_stat2']]
yr1_stat

In [ ]:
yr1_stat = yr1_stat.mar_stat2.value_counts().to_frame().reset_index()
yr1_stat = yr1_stat.rename(columns={'count' : 'total'})
yr1_stat['records'] = yr1_stat.total.sum()  
yr1_stat['yr1_per'] = (yr1_stat.total / yr1_stat.records) * 100    
yr1_stat

In [ ]:
yr1_stat= yr1_stat.drop('total', axis=1)
yr1_stat= yr1_stat.drop('records', axis=1)

In [ ]:
yr1_stat

In [ ]:
yr5_stat = yr5[['unique_id','mar_stat2']]
yr5_stat = yr5_stat.mar_stat2.value_counts().to_frame().reset_index()
yr5_stat = yr5_stat.rename(columns={'count' : 'total'})
yr5_stat['records'] = yr5_stat.total.sum()  
yr5_stat['yr5_per'] = (yr5_stat.total / yr5_stat.records) * 100    
yr5_stat

In [ ]:
yr5_stat= yr5_stat.drop('total', axis=1)
yr5_stat= yr5_stat.drop('records', axis=1)

In [ ]:
yr5_stat

In [ ]:
yr10_stat = yr10[['unique_id','mar_stat2']]
yr10_stat = yr10_stat.mar_stat2.value_counts().to_frame().reset_index()
yr10_stat = yr10_stat.rename(columns={'count' : 'total'})
yr10_stat['records'] = yr10_stat.total.sum()  
yr10_stat['yr10_per'] = (yr10_stat.total / yr10_stat.records) * 100    
yr10_stat

In [ ]:
yr10_stat= yr10_stat.drop('total', axis=1)
yr10_stat= yr10_stat.drop('records', axis=1)
yr10_stat

In [ ]:
yr15_stat = yr15[['unique_id','mar_stat2']]
yr15_stat = yr15_stat.mar_stat2.value_counts().to_frame().reset_index()
yr15_stat = yr15_stat.rename(columns={'count' : 'total'})
yr15_stat['records'] = yr15_stat.total.sum()  
yr15_stat['yr15_per'] = (yr15_stat.total / yr15_stat.records) * 100    
yr15_stat

In [ ]:
yr15_stat= yr15_stat.drop('total', axis=1)
yr15_stat= yr15_stat.drop('records', axis=1)
yr15_stat

In [ ]:
yr20_stat = yr20[['unique_id','mar_stat2']]
yr20_stat = yr20_stat.mar_stat2.value_counts().to_frame().reset_index()
yr20_stat = yr20_stat.rename(columns={'count' : 'total'})
yr20_stat['records'] = yr20_stat.total.sum()  
yr20_stat['yr20_per'] = (yr20_stat.total / yr20_stat.records) * 100    
yr20_stat

In [ ]:
yr20_stat= yr20_stat.drop('total', axis=1)
yr20_stat= yr20_stat.drop('records', axis=1)
yr20_stat

In [ ]:
yr25_stat = yr25[['unique_id','mar_stat2']]
yr25_stat = yr25_stat.mar_stat2.value_counts().to_frame().reset_index()
yr25_stat = yr25_stat.rename(columns={'count' : 'total'})
yr25_stat['records'] = yr25_stat.total.sum()  
yr25_stat['yr25_per'] = (yr25_stat.total / yr25_stat.records) * 100    
yr25_stat

In [ ]:
yr25_stat= yr25_stat.drop('total', axis=1)
yr25_stat= yr25_stat.drop('records', axis=1)
yr25_stat

In [ ]:
yr30_stat = yr30[['unique_id','mar_stat2']]
yr30_stat = yr30_stat.mar_stat2.value_counts().to_frame().reset_index()
yr30_stat = yr30_stat.rename(columns={'count' : 'total'})
yr30_stat['records'] = yr30_stat.total.sum()  
yr30_stat['yr30_per'] = (yr30_stat.total / yr30_stat.records) * 100    
yr30_stat

In [ ]:
yr30_stat= yr30_stat.drop('total', axis=1)
yr30_stat= yr30_stat.drop('records', axis=1)
yr30_stat

In [ ]:
ai_yr1 = pd.merge(ai_stat, yr1_stat, left_on=['mar_stat1'], right_on=['mar_stat2'],how='inner')
ai_yr1

In [ ]:
ai_yr5 = pd.merge(ai_yr1, yr5_stat, left_on=['mar_stat1'], right_on=['mar_stat2'],how='inner')
ai_yr5

In [ ]:
ai_yr10 = pd.merge(ai_yr5, yr10_stat, left_on=['mar_stat1'], right_on=['mar_stat2'],how='inner')
ai_yr10

In [ ]:
ai_yr10 = ai_yr10[['mar_stat1', 'ai_per', 'yr1_per', 'yr5_per', 'yr10_per']]
ai_yr10

In [ ]:
ai_yr15 = pd.merge(ai_yr10, yr15_stat, left_on=['mar_stat1'], right_on=['mar_stat2'],how='inner')
ai_yr15

In [ ]:
ai_yr20 = pd.merge(ai_yr15, yr20_stat, left_on=['mar_stat1'], right_on=['mar_stat2'],how='inner')
ai_yr20

In [ ]:
ai_yr25 = pd.merge(ai_yr20, yr25_stat, left_on=['mar_stat1'], right_on=['mar_stat2'],how='inner')
ai_yr25

In [ ]:
ai_yr25 = ai_yr25[['mar_stat1', 'ai_per', 'yr1_per', 'yr5_per', 'yr10_per', 'yr15_per', 'yr20_per', 'yr25_per']]
ai_yr25

In [ ]:
ai_yr30 = pd.merge(ai_yr25, yr30_stat, left_on=['mar_stat1'], right_on=['mar_stat2'],how='inner')
ai_yr30

In [ ]:
ai_yr30 = ai_yr30.drop('mar_stat2', axis=1)
ai_yr30

In [ ]:
data_mar = {'post_yr': [1, 5, 10, 15, 20, 25, 30,],
    'mar_per': ['0.79', '2.05', '3.52', '3.76', '4.73', '5.47', '5.50' ]}
data_mar = pd.DataFrame(data_mar)
print(data_mar)

In [ ]:
data_div = {'post_yr': [1, 5, 10, 15, 20, 25, 30,],
    'div_per': ['0.87', '2.75', '2.89', '3.23', '3.79', '4.00', '4.30' ]}
data_div = pd.DataFrame(data_div)
print(data_div)